<h1>DataHen Till</h1>
<p><a href="/">Home</a> &bull; <a href="/requests">Request Log</a></p>

<h2>Request Log</h2>

{{if not .Filter.IsZero}}
<table style="text-align: left;">
  <tr>
    <th colspan="3">Filters:</th>
  </tr>
  {{if .Filter.Gid }}
    <tr>
      <th>GID</th>
      <td>{{.Filter.Gid}}</td>
      <td><a href='{{appendQueryString .CurrentURL "gid" ""}}' title="remove filter">X</a></td>
    </tr>
  {{end}}
  {{if .Filter.SessionID }}
    <tr>
      <th>Session ID</th>
      <td>{{.Filter.SessionID}}</td>
      <td><a href='{{appendQueryString .CurrentURL "session_id" ""}}' title="remove filter">X</a></td>
    </tr>
  {{end}}
  {{if .Filter.CacheHit }}
    <tr>
      <th>Cache</th>
      <td>{{if (boolval .Filter.CacheHit)}}HIT{{else}}MISS{{end}}</td>
      <td><a href='{{appendQueryString .CurrentURL "cache" ""}}' title="remove filter">X</a></td>
    </tr>
  {{end}}
  {{if .Filter.RequestMethod }}
    <tr>
      <th>Method</th>
      <td>{{.Filter.RequestMethod}}</td>
      <td><a href='{{appendQueryString .CurrentURL "method" ""}}' title="remove filter">X</a></td>
    </tr>
  {{end}}
  {{if .Filter.ResponseStatusCode }}
    <tr>
      <th>Code</th>
      <td>{{.Filter.ResponseStatusCode}}</td>
      <td><a href='{{appendQueryString .CurrentURL "code" ""}}' title="remove filter">X</a></td>
    </tr>
  {{end}}
  {{if not .Filter.FromTime.IsZero }}
    <tr>
      <th>From Time</th>
      <td>{{.Filter.FromTime}}</td>
      <td><a href='{{appendQueryString .CurrentURL "from_time" ""}}' title="remove filter">X</a></td>
    </tr>
  {{end}}
  {{if not .Filter.ToTime.IsZero }}
    <tr>
      <th>To Time</th>
      <td>{{.Filter.ToTime}}</td>
      <td><a href='{{appendQueryString .CurrentURL "to_time" ""}}' title="remove filter">X</a></td>
    </tr>
  {{end}}
  {{if .Filter.FromResponseContentLength }}
    <tr>
      <th>From Content Length</th>
      <td>{{.Filter.FromResponseContentLength}}</td>
      <td><a href='{{appendQueryString .CurrentURL "from_content_length" ""}}' title="remove filter">X</a></td>
    </tr>
  {{end}}
  {{if .Filter.ToResponseContentLength }}
    <tr>
      <th>To Content Length</th>
      <td>{{.Filter.ToResponseContentLength}}</td>
      <td><a href='{{appendQueryString .CurrentURL "to_content_length" ""}}' title="remove filter">X</a></td>
    </tr>
  {{end}}
</table>
<hr/>
{{end}}


{{if .Pagination.StartAfter}}
<p><a href='{{appendQueryString .CurrentURL "start_after" .Pagination.StartAfter "end_before" ""}}'>Newer</a></p>
{{end}}


<table>
  <tr style="text-align: left;">
    <th title="Global ID">GID</th>
    <th title="Session ID">SID</th>
    <th>CACHE</th>
    <th>Method</th>
    <th colspan="2">URL</th>
    <th title="Response Status Code">Status</th>
    <th title="Response Content Length">ContentLength</th>
    <th>Timestamp</th>
  </tr>

  
  {{range $i, $item := .Items}}
    <tr>
      <td>
        <a href='/requests?gid={{ .Gid }}' title="{{.Gid}}">{{shortGID .Gid}}</a>
      </td>
      <td>
        <a href='/requests?session_id={{ .SessionID.String }}' title="{{.SessionID.String}}">{{.SessionID.String}}</a>
      </td>
      <td>
        {{if $item.CacheHit -}}
        <a href='{{appendQueryString $.CurrentURL "cache" "HIT" }}'>HIT</a>
        {{- else -}}
        <a href='{{appendQueryString $.CurrentURL "cache" "MISS" }}'>MISS</a>
        {{- end}}
      </td>
      <td>
        <a href='{{appendQueryString $.CurrentURL "method" $item.RequestMethod }}'>{{$item.RequestMethod}}</a>
      </td>
      <td><a href="/requests/{{.Rid}}" title="View Request Info" style="text-decoration: none;">	&#9432;</a></td>
      <td>
        {{if $item.ResponseStatus.Valid }}
          <a href="/requests/{{$item.Rid}}/content/{{relativepath $item.RequestURL}}" >{{printf "%.120s" $item.RequestURL}}</a>
        {{else}}
        {{printf "%.120s" $item.RequestURL}}
        {{end}}
      </td>
      <td title="{{$item.ResponseStatus.String}}">
        {{if $item.ResponseStatusCode.Valid }}
          <a href='{{appendQueryString $.CurrentURL "code" $item.ResponseStatusCode.Int64 }}'>{{$item.ResponseStatusCode.Int64}}</a>
          <a href='{{appendQueryString $.CurrentURL "code"  (printf "!%d" $item.ResponseStatusCode.Int64) }}' title="exclude {{$item.ResponseStatusCode.Int64}} status">!</a>
        {{end}}
      </td>
      <td>
        {{if $item.ResponseContentLength.Valid }}
          {{$item.ResponseContentLength.Int64}}
          <a href='{{appendQueryString $.CurrentURL "from_content_length" (printf "%d" $item.ResponseContentLength.Int64 ) }}' title="from content length">F</a>
          <a href='{{appendQueryString $.CurrentURL "to_content_length" (printf "%d" $item.ResponseContentLength.Int64 ) }}' title="to content length">T</a>
        {{end}}
      </td>
      <td>
        {{(intToTime $item.Timestamp).Format "2006-01-02 15:04:05"}}
        <a href='{{appendQueryString $.CurrentURL "from_time" ((intToTime $item.Timestamp).Format "2006-01-02T15:04:05Z07:00") }}' title="from time">F</a>
        <a href='{{appendQueryString $.CurrentURL "to_time" ((intToTime $item.Timestamp).Format "2006-01-02T15:04:05Z07:00") }}' title="to time">T</a>
      </td>
    </tr>
  {{end}}
  

</table>


{{if .Pagination.EndBefore}}
<p><a href='{{appendQueryString .CurrentURL "end_before" .Pagination.EndBefore "start_after" "" }}'>Older</a></p>
{{end}}
